<footer class="bg-dark">
    <div class="footer-container text-white p-5">
        <div class="row align-items-center">
            {% comment %} footer left col start {% endcomment %}
            <div class="col-4">
                <h2>TaskMaster</h2>
                <p>Empower your productivity with TaskMaster: Manage tasks effortlessly, anytime, anywhere.</p>
            {% comment %} footer left col end {% endcomment %}
            </div>
            {% comment %} footer right col start {% endcomment %}
            <div class="col-8 text-centert">
                <div class="d-flex justify-content-center">
                    <div class="contact-container">
                        <h4>About Us</h4>
                        <p>Carreer</p>
                        <p>Github</p>
                        <p>Github</p>
                        <p>Github</p>
                        <p>Github</p>
                        <p>Github</p>
                    </div>
                </div>
                {% comment %} footer right col end {% endcomment %}
            </div>
        </div>
    </div>
</footer>