<footer style="height:350px;" class="bg-dark text-white p-3 w-100 mt-5 border-none">
        <div class="row text-center h-100 align-items-center">
            {% comment %} footer left col start {% endcomment %}
            <div class="col-4">
                <h2>TaskMaster</h2>
                <p>Empower your productivity with TaskMaster: Manage tasks effortlessly, anytime, anywhere.</p>
            {% comment %} footer left col end {% endcomment %}
            </div>
            {% comment %} footer right col start {% endcomment %}
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <div class="contact-container">
                        <h3>About Us</h3>
                            <p>Pricing</p>
                            <p>Legal</p>
                            <p>Join Us</p>
                            <p>Version</p>
                            <p>Github</p>
                    </div>
                </div>
            </div>

        
            <div class="col-4">
                    <h3>Join the Newsletter</h3>
                    <label class="form-label" for="mail"></label>
                    <input id="mail" class="form-control w-50 d-inline" type="email" placeholder="Enter your email">
                    <button class="btn btn-primary">Join</button>
             
                {% comment %} footer right col end {% endcomment %}
            </div>
        </div>
</footer>